# gedit backups
*~

# gradle config
.gradle/

# gradle output
dist/
build/
testdata/

# format scripts
scripts/.run-google-java-format/

# coq source files
coq-proof/coq-source
coq-proof/V*.tar.gz

# coq proof output files
coq-proof/*.aux
coq-proof/*.vo
coq-proof/*.glob

# corpus
benchmarks/*/

# example classes and annotated output
testing/**/*.class
testing/annotated
testing/default.jaif
testing/statistic.txt

# manual tests
manual-tests/default.jaif
manual-tests/statistic.txt
manual-tests/annotated
manual-tests/inference
manual-tests/typecheck
manual-tests/insertionTest

# temp files
manual-tests/unused*
