*~

# eclipse output
bin/

# lib dependencies
lib/

#gradle config
.gradle/

# gradle output
dist/
build/

# corpus
corpus/

#example classes and annotated output
testing/**/*.class
testing/annotated
testing/default.jaif
testing/statistic.txt

#archive test cases
intersectionTest/
missingAnno/
superTypeArgTest/
unsat/
violateCons/
